.widget-container {
    width:100%;
    padding-top: 10px;
    box-sizing: border-box;
    border-style: dotted;
}

.widget-component-element{
    margin-bottom: 19px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.add-btn {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0.5%;
    left:0;
    border: none;
    background: none;
    color: red
}


.widget-dropdown__control{
    height: 70%;
}

.Dropdown-menu * {
    max-height: 95px;
}

